<form class="contact-form" (submit)="sendEmail($event)">
  <label>Name</label>
  <input type="text" name="to_name">
  <label>Email</label>
  <input type="email" name="from_name">
  <label>Message</label>
  <textarea name="message"></textarea>
  <input type="submit" value="Send">
</form>

<div class="w-full h-full flex flex-col font-Manrope">
  <div class="flex-1">
    <div class="flex items-center py-[10px] px-[16px]">
      <div class="flex display-col-mobile">
        <div class="flex items-center">
          <p>Năm học:</p>
          <div class="ml-[4px]">
            <select
              [(ngModel)]="selectedYear"
              class="inline-flex justify-center gap-x-1.5 rounded-md bg-white pl-[10px] pr-[6px] py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
            >
              <option *ngFor="let item of dataYear">
                {{ item }}
              </option>
              <svg
                class="-mr-1 h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </select>
          </div>
        </div>
        <div class="flex items-center pl-[20px] padding-col">
          <button
            (click)="onButtonClicked()"
            class="border-[1px] rounded-[10px] bg-[#29B475] py-2 px-2 text-white"
          >
            <p>Lấy thông tin</p>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="px-[10px]">
      <div class="w-full bg-[#f7eedf] p-[8px] rounded-[10px] mb-[10px]">
        <p>
          <span>Chú ý: </span>
          Kết quả đăng ký sẽ do Cố vấn học tập duyệt cho sinh viên.
        </p>
        <div class="flex pt-[9px]">
          <div
            class="h-[24px] w-[82px] rounded-[8px] bg-[#FDE9E9] flex items-center justify-center stateBox-red"
          >
            <span
              class="px-[8.5px] py-[4px] text-[#CD3636] text-[10px] font-bold"
              >TỪ CHỐI</span
            >
          </div>
          <p class="ml-[5px]">
            => Không được tham gia/tham gia sẽ không dược tính điểm.
          </p>
        </div>
        <div class="flex pt-[9px]">
          <div
            class="h-[24px] rounded-[8px] bg-[#D9F9E6] flex items-center justify-center stateBox-green"
          >
            <span
              class="px-[8.5px] py-[6px] text-[#2F9461] text-[10px] font-bold"
              >ĐƯỢC CHO PHÉP</span
            >
          </div>
          <p class="ml-[5px]">=> Được phép tham gia</p>
        </div>
      </div>
    </div> -->
    <div class="max-h-table overflow-auto p-[10px]">
      <!-- fit-w-table -->
      <div class="tb-1 mb-[10px] vv" *ngFor="let semester of semesterData">
        <div class="h-[40px] py-[10px] bg-[#e9eaec] rounded-t-[8px]">
          <span class="ml-[10px]">{{semester.name}}</span>
        </div>
        <table
          class="font-Manrope max-h-table w-full sticky overflow-auto border-[1px]"
          *ngIf="semester.data.length > 0; else noDataButtons"
        >
          <thead class="font-bold text-[#687588] text-[12px] bg-[#fafafa]">
            <tr>
              <th class="w-[70px]">STT</th>
              <th class="w-[120px]">Mã HĐ</th>
              <th class="grow items-start justify-start flex min-w-[400px]">Hoạt động</th>
              <th class="w-[70px]">Vai trò</th>
              <th class="w-[114px]">Số điểm</th>
              <th class="w-[140px]">Tình trạng</th>
              <th class="w-[100px]"></th>
            </tr>
          </thead>
          <tbody class="font-Manrope text-[12px] text-black">
            <tr
              *ngFor="let data of semester.data; let i = index"
              class="text-center border-t-[1px]"
            >
              <td>{{ stt + i }}</td>
              <td>{{ data.iddangKy }}</td>
              <td class="text-left">
                <a class="underline hover:text-red-500 hover:cursor-pointer" (click)="openPopupComment(data)">{{ data.tenhdnk }}</a>
              </td>
              <td>{{data.vaiTroTg}}</td>
              <td>{{ data.soDiem }}</td>
              <td class="px-[16px] flex justify-center">
                <div
                  *ngIf="data.tinhTrangDuyet === false"
                  class="h-[24px] w-[82px] rounded-[8px] bg-[#FDE9E9] flex items-center justify-center stateBox-red"
                >
                  <span
                    class="px-[8.5px] py-[4px] text-[#CD3636] text-[10px] font-bold"
                    >TỪ CHỐI</span
                  >
                </div>
                <div
                  *ngIf="data.tinhTrangDuyet === true"
                  class="h-[24px] rounded-[8px] bg-[#D9F9E6] flex items-center justify-center stateBox-green"
                >
                  <span
                    class="px-[8.5px] py-[4px] text-[#2F9461] text-[10px] font-bold">
                    ĐÃ ĐIỂM DANH
                  </span>
                </div>
              </td>
              <td>
                <div class="flex justify-center items-center">
                  <button
                    (click)="openPopupComment(data)"
                    class="items-center justify-center flex p-[4px] border-[1px] rounded-[5px]"
                  >
                    <i class="ph-bold ph-eye text-[16px]"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="dataReg_Result && dataReg_Result.length > 0; else noData"></div>
    
  </div>

  <ng-template #noDataButtons>
    <div class="items-center p-[24px] border-[1px] rounded-b-[8px]">
      <div class="justify-center items-center flex">
        <img src="../../../../assets/noData.png" class="w-[100px] h-[80px]" />
      </div>
      <p class="text-[14px] leading-[20px] text-[#57606a] text-center">
        Không có dữ liệu !
      </p>
    </div>
  </ng-template>

  <ng-template #noData> </ng-template>
</div>

<div
  *ngIf="isOpenPopup"
  class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-screen max-h-full font-Manrope"
>
  <div class="w-full h-full flex items-center justify-center">
    <div
      class="absolute top-0 left-0 w-full h-full bg-gray-800 opacity-50"
    ></div>
    <div
      class="w-[500px] bg-white shadow-2xl p-[24px] rounded-[16px] relative z-10"
    >
      <div class="flex justify-between mb-[20px]">
        <p class="font-Inter font-semibold text-[18px]">
          Chi tiết hoạt động ngoại khóa
        </p>
        <button (click)="closePopupComment()">
          <div class="flex justify-center items-center">
            <i class="ph ph-x text-[20px]"></i>
          </div>
        </button>
      </div>
      <div class="gap-[20px]">
        <div class="w-full mb-[10px]">
          <p class="font-medium text-[14px]">Tên hoạt động</p>
          <input
            [(ngModel)]="activitySelected.tenhdnk"
            disabled
            class="p-2 border-[1px] rounded-[10px] w-full"
          />
        </div>
        <div class="w-full mb-[10px]">
          <p class="font-medium text-[14px]">Tên giảng viên</p>
          <input
            [(ngModel)]="activitySelected.tengiangVien"
            class="p-2 border-[1px] rounded-[10px] w-full"
            disabled
          />
        </div>
        <div class="w-full mb-[10px]">
          <p class="font-medium text-[14px]">Nội dung</p>
          <input
            [(ngModel)]="activitySelected.noiDungMinhChung"
            class="p-2 border-[1px] rounded-[10px] w-full"
            disabled
          />
        </div>
        <div class="w-full mb-[10px]">
          <p class="font-medium text-[14px]">Kỹ năng</p>
          <input
            [(ngModel)]="activitySelected.kyNangHDNK"
            class="p-2 border-[1px] rounded-[10px] w-full"
            disabled
          />
        </div>
        <div class="w-full mb-[10px]">
          <p class="font-medium text-[14px]">Mã điều</p>
          <input
            [(ngModel)]="activitySelected.maDieu"
            class="p-2 border-[1px] rounded-[10px] w-full"
            disabled
          />
        </div>
        <div class="w-full mb-[10px]">
          <p class="font-medium text-[14px]">Số điểm</p>
          <input
            [(ngModel)]="activitySelected.soDiem"
            class="p-2 border-[1px] rounded-[10px] w-full"
            disabled
          />
        </div>
        <div class="w-full mb-[10px]">
          <p class="font-medium text-[14px]">Vai trò</p>
          <input
            [(ngModel)]="activitySelected.vaiTroTg"
            class="p-2 border-[1px] rounded-[10px] w-full"
            disabled
          />
        </div>
        <div class="w-full">
          <p class="font-medium text-[14px]">Ngày điếm danh</p>
          <input
            [(ngModel)]="activitySelected.ngayThamGia"
            class="p-2 border-[1px] rounded-[10px] w-full"
            disabled
          />
        </div>
      </div>
    </div>
  </div>
</div>
