<div class="bg-white rounded-[16px] m-[16px] height-table">
  <div class="flex justify-between items-center px-5 py-[16px]">
    <div class="flex flex-col items-start">
      <h1
        class="text-black font-bold leading-[28px] text-fieldskhoa font-chu2 text-[22px]"
      >
        {{ title }}
      </h1>
      <span
        class="font-medium text-[14px] leading-[22px] text-[#687588] font-chu2 mt-[8px]"
        >Quản lý dữ liệu văn bản trên hệ thống</span
      >
    </div>
    <div class="flex gap-4">
      <button
        (click)="showAdd()"
        class="flex p-4 h-[40px] font-chu2 justify-center items-center hover:bg-[#29B475] hover:border-[#29B475] hover:text-white border-black border-[1px] gap-[8px] bg-[#16252D] rounded-[8px] text-white transition-all"
      >
        <i class="ph-bold ph-plus text-[20px]"></i>
        <p class="text-[14px] font-medium font-chu2">Thêm Bộ Văn Bản mới</p>
      </button>
    </div>
  </div>

  <div
    class="flex justify-between px-[20px] py-[8px] items-center self-stretch border-khoa gap-4"
  >
    <div class="relative w-full">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <i class="ph-bold ph-magnifying-glass text-[20px]"></i>
      </div>
      <input
        type="text"
        [(ngModel)]="searchText"
        name="timKhoa"
        class="block w-full h-[44px] p-2 pl-10 text-sm border-[#EBEAED] rounded-[10px] text-chung"
        placeholder="Tìm Kiếm"
        required
      />
    </div>

    <div class="flex gap-4">
      <div>
        <button
          (click)="toggleDropDown()"
          [ngClass]="{
            'active-button': activeButton === 'FT Tuần',
            'active-dropdown': filter1
          }"
          class="text-black whitespace-nowrap p-2 h-[44px] hover:border-[#29B475] focus:outline-none border-[1px] rounded-[10px] text-[14px] font-medium font-chu2 px-4 py-2.5 text-center inline-flex items-center"
          type="button"
        >
          <p class="max-w-[120px] truncate">{{ namek }}</p>

          <i class="ph-bold ph-caret-down text-[15px] pl-[5px]"></i>
        </button>

        <!-- Dropdown menu -->
        <div
          *ngIf="filter1"
          class="z-10 absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-[130px] dark:bg-gray-700 h-[200px] overflow-y-auto"
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="filterKhoa"
          >
            <li>
              <a
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
                (click)="resetFilter()"
              >
                Tất Cả Khoa
              </a>
            </li>
            <li
              *ngFor="let khoa of quanLyCosoData | uniqueFilter : 'tenVanBan'"
              value="tenVanBan"
            >
              <a
                (click)="filterKhoa(khoa.tenVanBan)"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
              >
                {{ khoa.tenVanBan }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-col h-[67.7vh] overflow-y-auto m-[16px] rounded-[16px]">
    <table class="w-full font-[Manrope] text-chung">
      <thead class="font-bold text-[#687588]">
        <tr>
          <th class="w-[40px] pl-[16px]">
            <input
              (change)="checkAllRows()"
              [checked]="checkAll"
              type="checkbox"
              class="h-[16px] w-[16px] rounded-md border-[1px] border-solid border-[#CBD5E1] checked:bg-[#29B475] focus:ring-[#29B475]"
            />
          </th>
          <th class="text-center w-[60px]">STT</th>
          <th class="ten w-[168px]">
            <button class="flex items-center gap-4">
              Mã Văn Bản
              <div class="pt-1">
                <i *ngIf="this.isIcon" class="ph-bold ph-arrow-fat-up"></i>
                <i *ngIf="!this.isIcon" class="ph-bold ph-arrow-fat-down"></i>
              </div>
            </button>
          </th>
          <th class="ten w-[618px]">
            <button class="flex items-center gap-4">
              Tên Văn Bản
              <div class="pt-1">
                <i *ngIf="this.isIcons" class="ph-bold ph-arrow-fat-up"></i>
                <i *ngIf="!this.isIcons" class="ph-bold ph-arrow-fat-down"></i>
              </div>
            </button>
          </th>
          <th class="w-[78px] pr-[16px]">Tuỳ Chọn</th>
        </tr>
      </thead>
      <tbody class="text-center font-normal" *ngIf="!loading">
        <tr
          *ngFor="
            let khoa of quanLyCosoData
              | filter : 'tenVanBan' : tenkhoa
              | search : searchText
              | paginate : { itemsPerPage: 15, currentPage: p };
            let i = index
          "
        >
          <td class="pl-[16px]">
            <input
              (change)="selectOne($event, i)"
              [checked]="selectedItems[i]"
              type="checkbox"
              class="h-[16px] w-[16px] rounded-md border-[1px] border-solid border-[#CBD5E1] checked:bg-[#29B475] focus:ring-[#29B475]"
            />
          </td>
          <td class="text-center">{{ stt + i }}</td>
          <td
            class="ten max-w-[600px] hover:text-red-500 hover:underline cursor-pointer"
          >
            {{ khoa.maVanBan }}
          </td>
          <td class="ten">
            <div class="flex">
              <img src="../../../../assets/File.png" />
              <a
                (click)="showPDF(khoa.link)"
                class="cursor-pointer pl-2 hover:text-[#29B475] text-[14px] max-w-[600px] hover:underline"
                >{{ khoa.tenVanBan }}.pdf</a
              >
            </div>
          </td>
          <td class="text-center pr-[16px]">
            <div class="flex justify-center gap-[10px]">
              <button
                (click)="editVbtl(khoa)"
                class="hover:scale-110 transition-transform border-[1px] border-[#EDF2F7] rounded-[8px]"
              >
                <i
                  class="ph-bold ph-pencil-simple text-[#0047BF] p-[8px] text-[14px]"
                ></i>
              </button>
              <button
                (click)="onDelete(khoa.idvanBan)"
                class="hover:scale-110 transition-transform border-[1px] border-[#EDF2F7] rounded-[8px]"
              >
                <i
                  class="ph-bold ph-trash text-[#E0221F] p-[8px] text-[14px]"
                ></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ngx-skeleton-loader
      *ngIf="loading"
      count="98"
      [theme]="{
        width: '130px',
        height: '30px',
        left: '20px',
        margin: '10px',
        'border-radius': '10px',
        background: '#F5F5F5'
      }"
      appearance="line"
    ></ngx-skeleton-loader>
    <div
      class="flex flex-col items-center font-chu2 pt-[32px]"
      *ngIf="
        !loading &&
        (quanLyCosoData | filter : 'tenVanBan' : tenkhoa | search : searchText)
          .length === 0
      "
    >
      <img src="../../../../assets/empty1.png" class="w-[87px] h-[87px]" />

      <h1 class="text-[#718096] text-[18px] font-bold pt-[16px]">
        Dữ liệu trống
      </h1>
      <p class="text-[14px] font-normal text-[#A0AEC0]">
        Vui lòng nhập dữ liệu lên hệ thống
      </p>
    </div>

    <div class="flex justify-between py-4">
      <div>
        <button
          (click)="onDeleteAll()"
          *ngIf="showDeleteAllButton"
          class="flex p-3 text-btn h-[35px] font-chu2 justify-center items-center gap-[8px] button-addkhoa bg-red-600 hover:bg-red-400 text-white transition-all cursor-pointer"
        >
          Xoá Tất Cả
        </button>
      </div>

      <div
        class="flex justify-end items-center font-chu2"
        *ngIf="
          (
            quanLyCosoData
            | filter : 'tenVanBan' : tenkhoa
            | search : searchText
          ).length > 15
        "
      >
        <h1 class="text-[12px] text-fields pb-4">
          Showing 1 to 15 of
          {{ quanLyCosoData ? quanLyCosoData.length : 0 }} entries
        </h1>
        <pagination-controls
          class="text-[12px]"
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="showPdf"
  class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-screen max-h-full bg-gray-800 bg-opacity-50"
>
  <div class="w-[640px] bg-white shadow-2xl p-[20px] justify-center pdf-modal">
    <div class="flex justify-end">
      <button (click)="closePDF()">
        <i
          class="ph-bold ph-x transform hover:scale-110 transition-transform"
        ></i>
      </button>
    </div>
    <div class="pt-2">
      <ngx-extended-pdf-viewer
        *ngIf="selectedVanBan"
        [base64Src]="selectedVanBan.link"
        [height]="'85vh'"
        [contextMenuAllowed]="true"
        [showOpenFileButton]="false"
        [showPropertiesButton]="false"
        [showHandToolButton]="true"
        [useBrowserLocale]="true"
        (pagesLoaded)="(1)"
      ></ngx-extended-pdf-viewer>
    </div>
  </div>
  <button>Close PDF</button>
</div>
<!-- Popup add -->
<div
  *ngIf="showModalAdd"
  class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-screen max-h-full bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div class="w-[500px] bg-white shadow-2xl p-[24px] rounded-[16px]">
    <div class="grid grid-cols-1 grid-row-start-1 gap-2.5">
      <div class="flex w-full justify-between pb-6">
        <h1 class="font-chu3 text-[18px] font-semibold leading-6">
          Thêm Văn Bản Mới
        </h1>
      </div>
    </div>

    <form class="grid grid-cols-1 grid-row-start-3 w-full gap-6">
      <div>
        <div class="pb-4">
          <label class="pb-3 font-chu2 text-[14px] leading-6 font-medium"
            >Mã Văn Bản</label
          >
          <input
            [(ngModel)]="addLop.maVanBan"
            name="mavb"
            class="block w-full pt-2 pr-2 pb-2 pl-2 font-chu2 border-borderkhoa rounded-[10px]"
            placeholder="CNTT"
          />
        </div>
        <div class="pb-4">
          <label class="pb-3 font-chu2 text-[14px] leading-6 font-medium"
            >Tên Văn Bản</label
          >
          <input
            [(ngModel)]="addLop.tenVanBan"
            name="tenvb"
            class="block w-full pt-2 pr-2 pb-2 pl-2 font-chu2 border-borderkhoa rounded-[10px]"
            placeholder="Công nghệ thông tin"
          />
        </div>
        <div class="pb-4">
          <label class="pb-3 font-chu2 text-[14px] leading-6 font-medium">
            Thêm File Văn Bản</label
          >
          <input
            name="filepdf"
            id="dropzone-filepdf"
            (change)="onFileSelected($event)"
            type="file"
            accept=".pdf"
            class="block w-full pt-2 pr-2 pb-2 pl-2 font-chu3"
          />
        </div>
        <div class="grid grid-cols-1 grid-row-start-4 pt-4 w-full gap-4">
          <div class="text-end pt-1 flex justify-end">
            <button
              (click)="closeModalAdd()"
              class="flex-1 py-[11px] font-chu2 rounded-[10px] border-[1px] hover:bg-[#F8F8F8] hover:border-[#F8F8F8] text-[#00000] border-black items-center transition-all"
            >
              <h1 class="text-[16px] leading-6 font-chu3 font-normal">Hủy</h1>
            </button>
            <button
              (click)="addVbtlMoi()"
              class="flex-[2] py-[11px] ml-[20px] rounded-[10px] items-center transition-all bg-[#29B475]"
            >
              <h1
                class="text-[16px] leading-6 text-white font-chu2 font-normal"
              >
                Thêm
              </h1>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Popup edit -->
<div
  *ngIf="showModal"
  class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-screen max-h-full bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div class="w-[500px] bg-white shadow-2xl p-[24px] rounded-[16px]">
    <div class="grid grid-cols-1 grid-row-start-1 gap-2.5">
      <div class="flex w-full justify-between pb-6">
        <h1 class="font-chu3 text-[18px] font-semibold leading-6">
          Cập Nhật Văn Bản
        </h1>
      </div>
    </div>

    <form class="grid grid-cols-1 grid-row-start-3 w-full gap-6">
      <div>
        <div class="pb-4">
          <label class="pb-3 font-chu2 text-[14px] leading-6 font-medium"
            >Mã Văn Bản</label
          >
          <input
            name="emvc"
            *ngIf="editingLop"
            [(ngModel)]="editingLop.maVanBan"
            class="block w-full pt-2 pr-2 pb-2 pl-2 font-chu2 border-borderkhoa rounded-[10px]"
          />
        </div>
        <div class="pb-4">
          <label class="pb-3 font-chu2 text-[14px] leading-6 font-medium"
            >Tên Văn Bản</label
          >
          <input
            *ngIf="editingLop"
            name="etvb"
            [(ngModel)]="editingLop.tenVanBan"
            class="block w-full pt-2 pr-2 pb-2 pl-2 font-chu2 border-borderkhoa rounded-[10px]"
          />
        </div>
        <div class="pb-4">
          <label class="pb-3 font-chu2 text-[14px] leading-6 font-medium">
            Thêm File Văn Bản</label
          >
          <input
            name="filepdf"
            id="dropzone-filepdf"
            (change)="onFileSelected($event)"
            type="file"
            accept=".pdf"
            class="block w-full pt-2 pr-2 pb-2 pl-2 font-chu3"
          />
        </div>
        <div class="grid grid-cols-1 grid-row-start-4 pt-4 w-full gap-4">
          <div class="text-end pt-1 flex justify-end">
            <button
              (click)="closeModal()"
              class="flex-1 py-[11px] font-chu2 rounded-[10px] border-[1px] hover:bg-[#F8F8F8] hover:border-[#F8F8F8] text-[#00000] border-black items-center transition-all"
            >
              <h1 class="text-[16px] leading-6 font-chu3 font-normal">Hủy</h1>
            </button>
            <button
              (click)="updateVbtl()"
              class="flex-[2] py-[11px] ml-[20px] rounded-[10px] items-center transition-all bg-[#29B475]"
            >
              <h1
                class="text-[16px] leading-6 text-white font-chu2 font-normal"
              >
                Cập Nhật
              </h1>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- popup excel -->

<!-- popup delete -->
<div
  *ngIf="ondelete"
  class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-screen max-h-full bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div class="py-[24px] px-[24px] w-[400px] h-[260px] bg-white rounded-xl">
    <div class="flex justify-between items-center mb-[16px]">
      <div>
        <img src="../../../../assets/trash.png" class="w-[60px] h-[60px]" />
      </div>
      <button (click)="closeDelete()">
        <img
          src="../../../../assets/x-close.png"
          class="w-[24px] h-[24px] cursor-pointer transform hover:scale-110 transition-transform"
        />
      </button>
    </div>
    <div class="mb-[32px]">
      <h1 class="font-chu3 text-[18px] font-semibold">Bạn đang xoá dữ liệu</h1>
      <p
        class="font-chu3 text-[14px] leading-[20px] font-normal text-[#475467]"
      >
        Bằng việc nhấn nút “Xoá”, hệ thống sẽ xoá dữ liệu theo bạn yêu cầu và
        không thể khôi phục lại dữ liệu.
      </p>
    </div>
    <div class="flex gap-[12px]">
      <div class="w-[50%]">
        <button
          (click)="closeDelete()"
          class="flex w-full py-[10px] px-[18px] justify-center items-center rounded-lg border-[1px] border-[#D0D5DD] cursor-pointer hover:bg-slate-400 hover:text-[#ffff]"
        >
          <label
            class="font-chu2 text-btn font-semibold leading-[24px] cursor-pointer"
            >Huỷ</label
          >
        </button>
      </div>
      <div class="w-[50%]">
        <button
          (click)="deleteVbtl()"
          class="flex w-full py-[10px] px-[18px] justify-center items-center rounded border-[1px] border-[#D92D20] bg-[#D92D20] text-[#ffff] hover:bg-red-500 cursor-pointer"
        >
          <label
            class="font-chu3 text-btn font-semibold leading-[24px] cursor-pointer"
            >Xoá Dữ Liệu</label
          >
        </button>
      </div>
    </div>
  </div>
</div>

<!-- popup delete all-->
<div
  *ngIf="onalldelete"
  class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-screen max-h-full bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div class="py-[24px] px-[24px] w-[400px] h-[260px] bg-white rounded-xl">
    <div class="flex justify-between items-center mb-[16px]">
      <div>
        <img src="../../../../assets/trash.png" class="w-[60px] h-[60px]" />
      </div>
      <button (click)="closeDeleteAll()">
        <img
          src="../../../../assets/x-close.png"
          class="w-[24px] h-[24px] cursor-pointer transform hover:scale-110 transition-transform"
        />
      </button>
    </div>
    <div class="mb-[32px]">
      <h1 class="font-chu3 text-[18px] font-semibold">
        Bạn đang chọn xoá {{ selectedRowCount }} dữ liệu
      </h1>
      <p
        class="font-chu3 text-[14px] leading-[20px] font-normal text-[#475467]"
      >
        Bằng việc nhấn nút “Xoá”, hệ thống sẽ xoá dữ liệu theo bạn yêu cầu và
        không thể khôi phục lại dữ liệu.
      </p>
    </div>
    <div class="flex gap-[12px]">
      <div class="w-[50%]">
        <button
          (click)="closeDeleteAll()"
          class="flex w-full py-[10px] px-[18px] justify-center items-center rounded-lg border-[1px] border-[#D0D5DD] cursor-pointer hover:bg-slate-400 hover:text-[#ffff]"
        >
          <label
            class="font-chu2 text-btn font-semibold leading-[24px] cursor-pointer"
            >Huỷ</label
          >
        </button>
      </div>
      <div class="w-[50%]">
        <button
          (click)="deleteLopAll()"
          class="flex w-full py-[10px] px-[18px] justify-center items-center rounded border-[1px] border-[#D92D20] bg-[#D92D20] text-[#ffff] hover:bg-red-500 cursor-pointer"
        >
          <label
            class="font-chu3 text-btn font-semibold leading-[24px] cursor-pointer"
            >Xoá Tất Cả</label
          >
        </button>
      </div>
    </div>
  </div>
</div>

<!-- file du lieu mau -->
<div class="d-none hidden">
  <table id="excel-table" class="table">
    <thead>
      <tr>
        <td>maKhoa</td>
        <td>tenKhoa</td>
        <td>matKhau</td>
      </tr>
    </thead>
  </table>
</div>
